#svg-laptop,.banner_text{
    animation-duration:2s;
    animation-timing-function: ease-in-out;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-name: slideIn;       
}
.thingBox{
  position: absolute;
  width:100px;
  min-height:60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thing {
  /* Style <div>s so we can see them */
  width: 20px;
  height: 20px;
  opacity: 0;
  font-size: large;
  margin-bottom: 10px;
  background-color: #2ECC40;
  /* Shared animation proprties apply to all */
  animation-name: pulse;
  animation-duration:4s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
.thing:nth-child(1) {animation-delay: 0.0s; }
.thing:nth-child(2) {animation-delay: 0.5s; }
.thing:nth-child(3) {animation-delay: 1.0s; }
.thing:nth-child(4) {animation-delay: 1.5s; }
.thing:nth-child(5) {animation-delay: 2.0s; }
.thing:nth-child(6) {animation-delay: 2.5s; }

/* Animation definition */
@keyframes pulse {
  50% {
    opacity: 1;
    color:#2ECC40;
  }
}
@keyframes slideIn{
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }

.reveal{
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
