.txt01,
#txt02 {
  color: var(--primary-color);
}
.cardText {
  color: #585c61;
  max-width: 100%;
  max-height: 80px;
}
.cardTitle {
  border: 5px solid var(--primary-color);
  border-top: 0;
  border-bottom: 0;
  font-size: 20px;
  height:30px;
}
.banner_btn a {
  text-decoration: none;
  color: #fff;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  height: 50px;
  width: 130px;
  margin: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-size: 11pt;
  border-radius: 2px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#banner_btn_filled{
  background-color: var(--primary-color);
}
.banner_btn a:hover {
  scale: 1.1;
}
.svg_icons {
  height: inherit;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
}
#text-img {
  font-size: 25px;
  width: 100%;
  height: fit-content;
  text-align: center;
  margin-top: 10vh;
}
#text-img {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
#text-box {
  width: 10%;
  height: 200px;
  color: red;
}
.logo-img {
  width: 150px;
  height: 150px;
}

#section-container{
  margin-top:100px;
  background-color: #fff;
  z-index: -2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232eec40' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
#conference-timeline {
  position: relative;
  width:90%;
  padding: 10px;
  margin: 0 auto;
}
#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
  display: table;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: var(--primary-color);
  padding: 15px 23px;
  color: #fff;
  max-width: 5%;
  height: 15px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}
.timeline-end{
  position: relative;
}
.conference-center-line {
  position: absolute;
  width: 5px;
  height: 90%;
  left: 50%;
  margin-left: -2px;
  background: var(--primary-color);
  z-index:0;
}
#conference-timeline .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}
.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
}
.timeline-article .timeline-author {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  text-align: right;
}
.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  border: 1px solid #2ecc40;
  background-color: #fff;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.03);
  padding: 27px 25px;
}
.timeline-article p {
  margin: 0 0 0 60px;
  padding: 0;
  font-weight: 400;
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.timeline-article p span.article-number {
  position: absolute;
  font-weight: 300;
  font-size: 44px;
  top: 10px;
  left: -60px;
  color: var(--primary-color);
}
.timeline-article .content-left-container {
  float: left;
}
.timeline-article .content-right-container {
  float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before {
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: var(--primary-color);
}
.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}
.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}
.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  border-radius: 100%;
  background: var(--secondary-color);
}
.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 900;
}
.timeline-article .meta-date .date {
  font-size: 20px;
  line-height: 40px;
}
.timeline-article .meta-date .month {
  font-size: 10px;
  line-height: 10px;
}

@media only screen and (max-width: 830px) {
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }
  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
    height: 93%;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 10px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-number {
    display: none;
  }
  #conference-timeline .conference-center-line {
    height: 96%;
  }
}
