#txt01,#txt02{
    color:var(--primary-color);
}
.cardText{
    color: #585c61;
    max-width: 100%;
    max-height: 80px;
}

#technologies{
    font-size:25px;
    width:100%;
    height: fit-content;
    text-align: center; 
    margin-top:10vh;
}
.banner_btn a{
    text-decoration: none;
    color: #fff;
    border: 2px solid var(--primary-color);
    border-radius:5px;
    background-color:transparent;
    height: 50px;
    width: 130px;
    margin: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    font-size: 11pt;
}
.banner_btn a:hover{
    background-color:var(--primary-color);
    scale: 1.1;
}
.svg_icons{
    height: inherit;
    padding:5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
}
#technologies{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}

.logo-img{
    width:150px;
    height:150px;
}
#technologies i{
    font-size: 90px;
    width:fit-content;
    height:fit-content;
}
.timeline{
  position:relative;
  width: 1200px;
  margin: 100px auto;
}
.timeline_container{
  padding:10px 50px;
  width:50%;
  position: relative;
}
.timeline_text_box{
  padding: 20px 30px;
  background-color: #ddd;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left-container{
  left:0%;
}
.right-container{
  left:50%;
}
.timeline::after{
  content:' ';
  position: absolute;
  width:6px;
  height:100%;
  background: #2ECC40;
  top:0;
  left: 50%;
  margin-left:-3px;
  z-index: -1;
}
.timeline_text_box{

}